USE [data_warehouse]
GO
/****** Object:  Table [dbo].[air_quality_Q1]    Script Date: 4/30/2026 3:53:49 PM ******/

CREATE TABLE [dbo].[air_quality_Q1](
	[sensor_id] [nvarchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[timestamp] [nvarchar](50) NULL,
	[pm25] [float] NULL,
	[pm10] [float] NULL,
	[source] [nvarchar](50) NULL
) ON [PRIMARY]
GO
