USE [data_warehouse]
GO
/****** Object:  Table [dbo].[Campaign_DW]    Script Date: 4/30/2026 3:53:49 PM ******/

CREATE TABLE [dbo].[Campaign_DW](
	[Surrogate_Key] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Budget] [decimal](18, 2) NULL,
	[Prev_Name] [nvarchar](100) NULL,
	[Prev_Budget] [decimal](18, 2) NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
	[IsCurrent] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Surrogate_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
