USE [data_warehouse]
GO
/****** Object:  Table [dbo].[Campaign_Q2]    Script Date: 4/30/2026 3:53:49 PM ******/

CREATE TABLE [dbo].[Campaign_Q2](
	[ID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Budget] [decimal](18, 2) NULL,
	[Update_Date] [date] NULL
) ON [PRIMARY]
GO
