USE [data_warehouse]
GO
/****** Object:  Table [dbo].[Device_Target]    Script Date: 4/30/2026 3:53:49 PM ******/

CREATE TABLE [dbo].[Device_Target](
	[Device_Key] [int] NULL,
	[Device_ID] [nvarchar](10) NULL,
	[Device_Type] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[Insert_Date] [date] NULL,
	[Active_Flag] [int] NULL,
	[Version_No] [int] NULL
) ON [PRIMARY]
GO
