USE [data_warehouse]
GO
/****** Object:  Table [dbo].[Device_Status]    Script Date: 4/30/2026 3:53:49 PM ******/

CREATE TABLE [dbo].[Device_Status](
	[Device_ID] [nvarchar](10) NULL,
	[Device_Type] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[Schedule_Date] [date] NULL
) ON [PRIMARY]
GO
