USE [data_warehouse]
GO
/****** Object:  Table [dbo].[ETL_Metadata]    Script Date: 4/30/2026 3:53:49 PM ******/

CREATE TABLE [dbo].[ETL_Metadata](
	[ProcessName] [varchar](50) NULL,
	[LastLoadDate] [date] NULL
) ON [PRIMARY]
GO
