USE [data_warehouse]
GO
/****** Object:  Table [dbo].[Raw_Trades]    Script Date: 4/30/2026 3:53:49 PM ******/

CREATE TABLE [dbo].[Raw_Trades](
	[Trader_ID] [int] NULL,
	[Trade_TS] [datetime] NULL,
	[Action] [nvarchar](10) NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
