USE [data_warehouse]
GO
/****** Object:  Table [dbo].[Staging_Table]    Script Date: 4/30/2026 3:53:49 PM ******/

CREATE TABLE [dbo].[Staging_Table](
	[Trader_ID] [int] NULL,
	[Trade_TS] [datetime] NULL,
	[Action_Cleaned] [nvarchar](10) NULL,
	[Quantity_Cleaned] [int] NULL
) ON [PRIMARY]
GO
