USE [data_warehouse]
GO
/****** Object:  Table [dbo].[Trader_Summary]    Script Date: 4/30/2026 3:53:49 PM ******/

CREATE TABLE [dbo].[Trader_Summary](
	[Att_Key] [int] IDENTITY(1,1) NOT NULL,
	[Trader_ID] [int] NULL,
	[Trade_Date] [date] NULL,
	[Total_Buy] [int] NULL,
	[Total_Sell] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Att_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
